body {
  padding: 10px 25px;
}

.saleswhale-logo {
  width: 62%;
}

.section {
  margin-top: 18px;
}

.header-image {
  background-image: url(assets/Vector.png);
  
  width: 268px;
  height: 296px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}

.main-header {
  height: 108px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  color: #002240;
}

.header-text-container {
  display: flex;
  flex-wrap: wrap;
}

.main-text {

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #002240;

}

.mission > h1 {
  font-size: 28px;
}

.culture-text {
  color: #537089;
  margin-top: 5px;
  font-size: 15px;
  line-height: 24px;
}

.culture-image, .timeline-container > img {
  width: 56px;
  height: 56px;
}

.culture-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
}

.join-button {
  background: #0688FA;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  color: White;
  font-size: 15px;
  font-weight: bold;
}

.progress-container {
  background-color: aliceblue;
  margin-left: -25px;
  margin-right: -25px;
  padding-bottom: 60px;
}

.timeline-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 25px 0px 25px;
}

.timeline-container > p {
  font-size: 13px;
  width: 50%;
  font-weight: 600;
}

.timeline-container > img {
  position: relative;
  top: -18px;
}

.timeline-container > h4 {
  color: #1b77ff;
}

.line {
  height: 684px;
  width: 4px;
  background-color: #1b77ff;
  position: absolute;
  left: 106px
}

.infocard-container {
  border: 2px solid gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  text-align: center;
  margin-top: 30px;
}

.infocard-container > h1 {
  font-size: 25px
}